@model IEnumerable<TestWebApp.Models.AccountViewModel>

@{
    ViewBag.Title = "Account";
}

<h2>Account</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Contacts")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
              
              @{ 
                  var iterator = 0;
                  foreach (var contact in item.Contacts)
                  {

                      string linkText = "";
                      if (iterator != 0)
                      {
                          linkText += " , ";
                      }

                      @Html.ActionLink((string)(linkText+contact.FirstName), "Details", "Contact", new { id=contact.Id},null);
                      iterator+=1;
                  
                  }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
